<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ECharts3 Ajax</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!-- ECharts 3 引入 -->
y    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
</head>

<body>
<!--为ECharts准备一个具备大小（宽高）的Dom-->
<div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>

<script>

    var myChart = echarts.init(document.getElementById('main'));

    myChart.setOption({
        title: {
            text: '水位监控'
        },
        tooltip: {},
        legend: {
            data:['南京', '苏州']
        },
        xAxis: {
            // type: 'time',
            // splitNumber: 24,
            data: []
        },
        yAxis: {
            type: 'value',
            max: 100,
            min: 0,
            axisLabel:{
                 formatter: '{value} m'
            }
        },
        series: [{
            name: '南京',
            type: 'line',
            data: []
        },{
            name: '苏州',
            type: 'line',
            data: []
        }]
    });

    var time = ["","","","","","","","","",""],
        position1 = [0,0,0,0,0,0,0,0,0,0],
        position2 = [0,0,0,0,0,0,0,0,0,0]


    //准备好统一的 callback 函数
    var update_mychart = function (res) { //res是json格式的response对象

        // 隐藏加载动画
        myChart.hideLoading();

        // 准备数据
        var data = JSON.parse(res.data);    //将JSONString转为JSON

        var timestamp = parseInt(data[0]);  //获取时间戳
        var date = new Date(timestamp);     //将时间戳转为Date
        var hhmmss = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

        var waterLevel = parseFloat(data[1]).toFixed(2);    //截取水位数据仅保留小数点后两位

        time.push(hhmmss);
        position1.push(waterLevel);

        if (time.length >= 10){
            time.shift();
            position1.shift();
            position2.shift();
        }

        // 填入数据
        myChart.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: '南京',
                data: position1
            },{
                name: '苏州',
                data: position2
            }]
        });

    };

    // 首次显示加载动画
    myChart.showLoading();


    //建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';

        function ws() {
            var socket;
            if (window.WebSocket) {
                socket = new WebSocket("ws://127.0.0.1:8080/webSocket");
                socket.onmessage = function (event) {
                    update_mychart(event);
                    // alert(event.data);
                };
                socket.onopen = function (event) {
                    console.info("连接开启");
                };
                socket.onclose = function (event) {
                    console.info("连接被关闭");
                };
            } else {
                alert("你的浏览器不支持 WebSocket！");
            };

        }

        //开始建立WebSocket传输数据
        ws();

    });

</script>
</body>
</html>