<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<link href="//cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="v3/layoutit.css" rel="stylesheet">-->
    <script src="https://img.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
</head>
<body>
<script>
    var chart = Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },
        title: {
            text: '水位变化趋势图'
        },
        subtitle: {
            text: '2009年10月6日和7日两地风速情况'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: '水位 (m)'
            },
            min: 0,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null,
            plotBands: [{ // Light air
                from: 0.3,
                to: 1.5,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: '轻空气',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Light breeze
                from: 1.5,
                to: 3.3,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                    text: '微风',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Gentle breeze
                from: 3.3,
                to: 5.5,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: '柔和风',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Moderate breeze
                from: 5.5,
                to: 8,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                    text: '温和风',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Fresh breeze
                from: 8,
                to: 11,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: '清新风',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Strong breeze
                from: 11,
                to: 14,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                    text: '强风',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // High wind
                from: 14,
                to: 15,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: '狂风',
                    style: {
                        color: '#606060'
                    }
                }
            }]
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
            }
        },
        series: [{
            name: 'nanjing',
            data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                8.2, 8.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                3.0, 3.0]
        }, {
            name: 'suzhou',
            data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0,
                0.0, 0.4, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                0.0, 0.6, 1.2, 1.7, 0.7, 2.9, 4.1, 2.6, 3.7, 3.9, 1.7, 2.3,
                3.0, 3.3, 4.8, 5.0, 4.8, 5.0, 3.2, 2.0, 0.9, 0.4, 0.3, 0.5, 0.4]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
</script>
<div id="container" style="min-width:400px;height:400px"></div>
<!--<div class="container">-->
    <!--<div class="row clearfix">-->
        <!--<div class="col-md-12 column">-->
            <!--<nav class="navbar navbar-default" role="navigation">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>-->
                <!--</div>-->

                <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class="active">-->
                            <!--<a href="#">Link</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Link</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li>-->
                                    <!--<a href="#">Action</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Another action</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Something else here</a>-->
                                <!--</li>-->
                                <!--<li class="divider">-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Separated link</a>-->
                                <!--</li>-->
                                <!--<li class="divider">-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">One more separated link</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<form class="navbar-form navbar-left" role="search">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" />-->
                        <!--</div> <button type="submit" class="btn btn-default">Submit</button>-->
                    <!--</form>-->
                    <!--<ul class="nav navbar-nav navbar-right">-->
                        <!--<li>-->
                            <!--<a href="#">Link</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li>-->
                                    <!--<a href="#">Action</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Another action</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Something else here</a>-->
                                <!--</li>-->
                                <!--<li class="divider">-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">Separated link</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

            <!--</nav>-->



            <!--<div class="jumbotron">-->
                <!--<h1>-->
                    <!--Hello, world&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;++++++++++++++-->
                <!--</h1>-->



                <!--<p>-->
                    <!--This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a class="btn btn-primary btn-large" href="#">Learn more</a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="progress progress-striped active">-->
                <!--<div class="progress-bar progress-success">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row clearfix">-->
        <!--<div class="col-md-4 column">-->
            <!--<h2>-->
                <!--Heading-->
            <!--</h2>-->
            <!--<p>-->
                <!--Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.-->
            <!--</p>-->
            <!--<p>-->
                <!--<a class="btn" href="#">View details »</a>-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-4 column">-->
            <!--<h2>-->
                <!--Heading-->
            <!--</h2>-->
            <!--<p>-->
                <!--Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.-->
            <!--</p>-->
            <!--<p>-->
                <!--<a class="btn" href="#">View details »</a>-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-4 column">-->
            <!--<h2>-->
                <!--Heading-->
            <!--</h2>-->
            <!--<p>-->
                <!--Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.-->
            <!--</p>-->
            <!--<p>-->
                <!--<a class="btn" href="#">View details »</a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>