<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap/4.0.0/bootstrap.min.css">
    <link href="/css/v3/layoutit.css" rel="stylesheet">
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/bootstrap/toastr.min.css" rel="stylesheet">
    <!--<script src="/js/jquery-1.8.3.min.js"></script>-->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/highchart.js"></script>
    <script src="/js/toastr.min.js"></script>

    <!--<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">-->
    <!--<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <!--<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->
    <!--<link rel="stylesheet" href="jqueryui/style.css">-->

    <!--<script src="/js/jquery-ui.min.js"></script>-->
    <!--<script src="https://code.highcharts.com.cn/highcharts/highcharts.js" ></script>-->
    <!--<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>-->
    <!--<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row clearfix">

        <div class="col-md-12 column">

            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>

        <!--<div class="col-md-12 column">-->
            <!--<div class="row clearfix">-->

        <!-- 图标1 实时监控 -->
        <div id="real" class="col-md-10 column">

            <!-- 实时监控图表 -->
            <script>
                Highcharts.setOptions({
                    // 纠正时区误差
                    global: {
                        timezoneOffset: -8 * 60
                    },
                    lang: {
                        loading: '数据加载中...'  // 加载中文字配置
                    }
                });

                // 定义实时图表
                var chartReal = Highcharts.chart('real', {
                    chart: {
                        type: 'spline',
                        animation: {
                            duration: 50
                        }
                    },
                    title: {
                        text: '实时监控'
                    },
                    credits: {
                        enabled: false
                    },
                    loading: {  // 加载中选项配置
                        labelStyle: {
                            color: 'red',
                            fontSize: '12px'
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'm'
                        },
                        min: 20,
                        max: 100,
                        plotBands: [{ // 水位警戒区域
                            from: 80,
                            to: 90,
                            color: 'rgba(255, 185, 15, 0.1)',
                            label: {
                                text: '预警水位',
                                style: {
                                    color: '#8B8989'
                                }
                            }
                        }, { // Light air
                            from: 90,
                            to: 100,
                            color: 'rgba(255, 69, 0, 0.1)',
                            label: {
                                text: '危险水位',
                                style: {
                                    color: '#8B8989'
                                }
                            }
                        }]
                    },
                    tooltip: {
                        valueSuffix: ' m'
                    },
                    series: [{
                        name: 'HoHai',
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        pointStart: Date(),
                        pointInterval:  3000    //间隔为3秒
                    }]
                });

                //开启数据加载动画
                chartReal.showLoading();
                var chartRealIsShowLoading = true;

                //存储chartReal显示的json数据
                var chartRealSeriesDatas = [];

                //预警水位
                var WarningWaterLevel = 80.0;

                // 单个数据更新RealChart
                var updateChartReal = function (data){
                    updateSeriesDatas(chartRealSeriesDatas, data);
                    chartReal.series[0].update({'data': chartRealSeriesDatas});

                    //当水位低于预警水位，取消预警
                    if (data.waterLevel < 80.0
                        && chartReal.series[0].color === '#FF0000'){
                        chartReal.series[0].update({'color': '#7cb5ec'});
                    }

                    //水位预警
                    if (data.waterLevel >= 80.0){
                        chartReal.series[0].update({'color': '#FF0000'});
                        toastr.warning("超水位");
                    }
                };

                // 数组数据更新RealChart
                var updateChartRealByArray = function(datas){
                    for (var i in datas){
                        updateSeriesDatas(chartRealSeriesDatas, datas[i]);
                    }
                    console.info("chartRealSeriesDatas = " + JSON.stringify(chartRealSeriesDatas));
                    chartReal.series[0].update({'data': chartRealSeriesDatas});
                };

                var updateSeriesDatas = function(seriesDatas, data){
                    var record = {};
                    var date = new Date(data.time);
                    record["name"] = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
                    record["y"] = data.waterLevel;
                    seriesDatas.push(record);
                    if (seriesDatas.length > 20){
                        seriesDatas.shift();
                    }
                    // return seriesDatas;
                }


            </script>

            <!-- 滑动条 -->
            <script>
                var lastIndex = 0;
                $(function(){
                    $("#chart-slider").slider({
                        range: "max",
                        min: 0,
                        max: 60,
                        value: 60,
                        slide: function(event, ui) {
                            lastIndex = parseInt(60) - parseInt(ui.value);
                            console.info("ui.max = " + parseInt(60) + " ui.value = " + parseInt(ui.value) + " index = " + parseInt(lastIndex));

                            // 更新回显数据
                            $("#notification-bar").val(lastIndex);
                        }
                    });
                    // 设置notification-bar显示初始值
                    $("#notification-bar").val(0);
                });

                //将需要回溯的时间戳发送给后端
                var sendSliderTimestampByIndex = function(index){
                    var msg = [];
                    if (index === 0){
                        console.info("back_tracking_done");
                        msg.push("back_tracking_done");
                        var time = getTimestamp(index);
                        msg.push(time);
                        socket.send(JSON.stringify(msg));
                    }else{
                        msg.push("back_tracking");
                        var time = getTimestamp(index);
                        msg.push(time);
                        socket.send(JSON.stringify(msg));
                        console.info("msg = " + JSON.stringify(msg));
                    }

                };

                //根据index计算时间戳
                var getTimestamp = function(index){
                    var time =  new Date(new Date().getTime() -  index * 60 * 1000).getTime();    //获取index 分钟之前的时间
                    var date = new Date(time);
                    console.info("timestamp = " + time + " date = " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + " now date = " + new Date());
                    return time;
                };

                //重置滑动条，移至开始位置
                var resetSlider = function(){
                    $("#chart-slider").slider({
                        value: 60
                    });
                    $("#notification-bar").val(0);
                };

            </script>

            <p>
                <label for="notification-bar">回溯时间（分钟）：</label>
                <input type="text" id="notification-bar" style="border:0; color:#f6931f; font-weight:bold;">
            </p>

            <!-- 当鼠标松开快动块时获取后台数据 -->
            <div id="chart-slider" onmouseup="sendSliderTimestampByIndex(lastIndex)"
                 onkeyup="sendSliderTimestampByIndex(lastIndex)">

            </div>
        </div>

        <div class="col-md-2 column">
            <button type="button" class="btn btn-primary btn-default btn-block">按钮</button>
            <button type="button" class="btn btn-primary btn-default btn-block">按钮</button>
        </div>

            <!--</div>-->

        <div class="col-md-12">
            <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
            注意!
            </h4>
            <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
            </div>
        </div>



        <!--</div>-->


        <!-- 图表2 -->
        <div id="daily"class="col-md-4 column" style="height:350px;border:1px solid #ccc;padding:10px;">

            <script>
            // 定义实时图表
                var chartDaily = Highcharts.chart('daily', {
                    chart: {
                        type: 'spline',
                        animation: {
                            duration: 50
                        },
                        height: 300
                    },
                    title: {
                        text: '日监控'
                    },
                    credits: {
                        enabled: false
                    },
                    loading: {  // 加载中选项配置
                        labelStyle: {
                            color: 'red',
                            fontSize: '12px'
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'm'
                        },
                        min: 20,
                        max: 100
                    },
                    tooltip: {
                        valueSuffix: ' m'
                    },
                    series: [{
                        name: 'HoHai',
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    }]
                });

                var chartDailySeriesDatas = [];

                function updateChartDaily(data){
                    updateChartDailySeriesDatas(chartDailySeriesDatas, data);
                    chartDaily.series[0].update({'data': chartDailySeriesDatas});
                }

                function updateChartDailyByArray(datas){
                    for (var i in datas){
                        updateChartDailySeriesDatas(chartDailySeriesDatas, datas[i]);
                    }
                    chartDaily.series[0].update({'data': chartDailySeriesDatas});
                }

                function updateChartDailySeriesDatas(seriesDatas, data){
                    var record = {};
                    var date = new Date(data.time);
                    record["name"] = date.getHours() + "h";
                    record["y"] = data.waterLevel;
                    seriesDatas.push(record);
                    if (seriesDatas.length > 24){
                        seriesDatas.shift();
                    }
                }

            </script>

            <p>
                <a class="btn" href="../hourlymonitor">View details »</a>
            </p>

        </div>


        <!-- 图表3-->
        <div id="weekly" class="col-md-4 column" style="height:350px;border:1px solid #ccc;padding:10px;">

            <script>
                // 定义实时图表
                var chartWeekly = Highcharts.chart('weekly', {
                    chart: {
                        type: 'spline',
                        animation: {
                            duration: 50
                        },
                        height: 300
                    },
                    title: {
                        text: '周监控'
                    },
                    credits: {
                        enabled: false
                    },
                    loading: {  // 加载中选项配置
                        labelStyle: {
                            color: 'red',
                            fontSize: '12px'
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'm'
                        },
                        min: 20,
                        max: 100
                    },
                    tooltip: {
                        valueSuffix: ' m'
                    },
                    series: [{
                        name: 'HoHai',
                        data: ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
                    }]
                });

                var chartWeeklySeriesDatas = [];

                function updateChartWeekly(data){
                    updateChartWeeklySeriesDatas(chartWeeklySeriesDatas, data);
                    chartWeekly.series[0].update({'data': chartWeeklySeriesDatas});
                }

                function updateChartWeeklyByArray(datas){
                    for (var i in datas){
                        updateChartWeeklySeriesDatas(chartWeeklySeriesDatas, datas[i]);
                    }
                    chartWeekly.series[0].update({'data': chartWeeklySeriesDatas});
                }

                function updateChartWeeklySeriesDatas(seriesDatas, data){
                    var record = {};
                    var date = new Date(data.time);
                    var day = date.getDay();
                    var dayOfWeeky;
                    if (day === 0){
                        dayOfWeeky = '周日';
                    } else if (day === 1){
                        dayOfWeeky = '周一';
                    } else if (day === 2){
                        dayOfWeeky = '周二';
                    } else if (day === 3){
                        dayOfWeeky = '周三';
                    } else if (day === 4){
                        dayOfWeeky = '周四';
                    } else if (day === 5){
                        dayOfWeeky = '周五';
                    } else if (day === 6){
                        dayOfWeeky = '周六';
                    } else {
                        console.info("dayOfWeek error");
                    }
                    record["name"] = dayOfWeeky;
                    record["y"] = data.waterLevel;
                    seriesDatas.push(record);
                    if (seriesDatas.length > 7){
                        seriesDatas.shift();
                    }
                }

            </script>

            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>



        <!-- 图表4-->
        <div id="monthly" class="col-md-4 column" style="height:350px;border:1px solid #ccc;padding:10px;">

            <script>
                // 定义实时图表
                var chartMonthly = Highcharts.chart('monthly', {
                    chart: {
                        type: 'spline',
                        animation: {
                            duration: 50
                        },
                        height: 300
                    },
                    title: {
                        text: '月监控'
                    },
                    credits: {
                        enabled: false
                    },
                    loading: {  // 加载中选项配置
                        labelStyle: {
                            color: 'red',
                            fontSize: '12px'
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'm'
                        },
                        min: 20,
                        max: 100
                    },
                    tooltip: {
                        valueSuffix: ' m'
                    },
                    series: [{
                        name: 'HoHai',
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    }]
                });

                var chartMonthlySeriesDatas = [];

                function updateChartMonthly(data){
                    updateChartMonthlySeriesDatas(chartMonthlySeriesDatas, data);
                    chartMonthly.series[0].update({'data': chartMonthlySeriesDatas});
                }

                function updateChartMonthlyByArray(datas){
                    for (var i in datas){
                        updateChartMonthlySeriesDatas(chartMonthlySeriesDatas, datas[i]);
                    }
                    chartMonthly.series[0].update({'data': chartMonthlySeriesDatas});
                }

                function updateChartMonthlySeriesDatas(seriesDatas, data){
                    var record = {};
                    var date = new Date(data.time);
                    record["name"] = date.getHours() + "(h)";
                    record["y"] = data.waterLevel;
                    seriesDatas.push(record);
                    if (seriesDatas.length > 12){
                        seriesDatas.shift();
                    }
                }

            </script>

            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>



        <!-- WebSocket -->
        <script>
            var back = function(){
                console.info("调用back()");
                socket.send("back");
            };

            var real = function(){
                console.info("调用real()");
                socket.send("real");
            };

            //定义socket连接
            var socket;
            function ws() {
                if (window.WebSocket) {
                    socket = new WebSocket("ws://localhost:8080/webSocket");
                    // socket = new WebSocket("ws://192.168.42.183:8080/webSocket");
                    socket.onmessage = function (event) {

                        var datas = JSON.parse(event.data);
                        if (datas[0] === "real_monitor"){
                            if (datas[1] instanceof Array){
                                console.info("收到数组数据");
                                updateChartRealByArray(datas[1]);
                            }else{
                                console.info("收到数据： record( timestmap = " + datas[1].timestamp + ", id = " + datas[1].id + ", siteName = " + datas[1].siteName + ", waterLevel = " + datas[1].waterLevel);
                                updateChartReal(datas[1]);
                            }

                            //关闭chartReal的数据加载动画
                            if (chartRealIsShowLoading){
                                chartReal.hideLoading();
                                chartRealIsShowLoading = false
                            }
                        }else if(datas[0] === "daily_monitor"){
                            if (datas[1] instanceof Array){
                                updateChartDailyByArray(datas[1]);
                            }else{
                                updateChartReal(datas[1]);
                            }

                        }else if(datas[0] === "weekly_monitor"){
                            if (datas[1] instanceof Array) {
                                updateChartWeeklyByArray(datas[1]);
                            }else{
                                updateChartWeekly(datas[1]);
                            }
                        }else if(datas[0] === "monthly_monitor"){
                            if (datas[1] instanceof Array){
                                updateChartMonthlyByArray(datas[1]);
                            }else{
                                updateChartMonthly(datas[1]);
                            }

                        }else if (datas[0] === "back_tracking_done"){
                            //后台的BackTrackingListener关闭时，将chart-slider滑快位置初始化为最右端
                            resetSlider();
                        } else{
                            alert("error(reponsetype = " + datas[0] + ")");
                        }

                    };
                    socket.onopen = function (event) {
                        console.info("连接开启");

                        var dailyPreparedBufferOrder = [];
                        dailyPreparedBufferOrder.push("daily_monitor")
                        socket.send(JSON.stringify(dailyPreparedBufferOrder));

                        var weeklyPreparedBufferOrder = [];
                        weeklyPreparedBufferOrder.push("weekly_monitor");
                        socket.send(JSON.stringify(weeklyPreparedBufferOrder));

                    };
                    socket.onclose = function (event) {
                        console.info("连接被关闭");
                    };
                } else {
                    alert("你的浏览器不支持 WebSocket！");
                }

            }

            //建立socket连接，等待服务器“推送”数据，用回调函数更新图表
            $(document).ready(function() {
                namespace = '/test';

                //开始建立WebSocket传输数据
                ws();
            });

        </script>


        <!-- 弹出通知栏 -->
        <script>
            toastr.options = {
                closeButton: false,
                debug: false,
                progressBar: false,
                positionClass: "toast-top-left",
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "5000",
                extendedTimeOut: "1000",
                newestOnTop: true,
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
            }
        </script>

    </div>

    <div class="row clearfix">


    </div>
</div>
</body>
</html>