<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>水位监控系统</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/bootstrap/toastr.min.css" rel="stylesheet">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="/imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <!--<i class="fa fa-bell"></i>-->
                    <i class="fa fa-info"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <!--<li class="nav-item d-md-down-none">-->
                <!--<a href="#">-->
                    <!--<i class="fa fa-envelope-open"></i>-->
                    <!--<span class="badge badge-pill badge-danger">5</span>-->
                <!--</a>-->
            <!--</li>-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">管理员</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Settings</div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="top" class="main-container">

        <!-- 侧边栏 -->
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">菜单</li>

                    <li class="nav-item">
                        <a href="#top" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 实时监控
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#daily-monitor" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 日监控
                        </a>

                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#weekly-monitor" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 周监控
                        </a>

                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 报表 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon icon-energy"></i> 日监控报表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="buttons.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 周监控报表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="cards.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 月监控报表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="modals.html" class="nav-link">
                                    <i class="icon icon-energy"></i> 年总结报表
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 设置 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="icon icon-energy"></i> 设置预警水位：
                                    <span class="button-span">
                                        <input type="text" id="warnning-value" style="width:65%;float:left;" value="80" />
                                        <button type="submit" onclick="updateWarrningValue()" class="btn btn-sm btn-primary" style="width:30%;float:right">确定</button>
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="icon icon-energy"></i> 设置危险水位：
                                    <span class="button-span">
                                        <input type="text" id="error-value" style="width:65%;float:left;" value="90" />
                                        <button type="submit" onclick="updateErrorValue()" class="btn btn-sm btn-primary" style="width:30%;float:right">确定</button>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-title">More</li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-umbrella"></i> Pages <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="blank.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Blank Page
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="login.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Login
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="register.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Register
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="invoice.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Invoice
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="404.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 404
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="500.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 500
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="settings.html" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 主页面 -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">HoHai</span>
                                    <span class="font-weight-light">站点名称</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-home"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">104</span>
                                    <span class="font-weight-light">站点编号</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-tag"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span id="warrning-display" class="h4 d-block font-weight-normal mb-2">80</span>
                                    <span class="font-weight-light">预警水位</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-info"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span id="error-display" class="h4 d-block font-weight-normal mb-2">90</span>
                                    <span class="font-weight-light">危险水位</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-info"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="real-monitor" class="row ">
                    <div class="col-md-12">
                        <!-- 实时监控 -->
                        <div class="card">
                            <!--<div class="card-header">-->
                                <!--实时监控-->
                            <!--</div>-->

                            <div class="card-body p-0">
                                <div class="p-4">
                                    <!--<canvas id="real-chart" width="100%" height="20"></canvas>-->
                                    <div id="real-chart" class="row clearfix" width="80%" height="20"></div>

                                    <p>
                                        <label for="notification-bar">回溯时间（分钟）：</label>
                                        <input type="text" id="notification-bar" style="border:0; color:#f6931f; font-weight:bold;">
                                    </p>

                                    <!-- 当鼠标松开快动块时获取后台数据 -->
                                    <div id="real-chart-slider" class="row clearfix" onmouseup="sendSliderTimestampByIndex(lastIndex)"
                                         onkeyup="sendSliderTimestampByIndex(lastIndex)">
                                    </div>

                                </div>

                                <div class="justify-content-around mt-4 p-4 bg-light d-flex border-top d-md-down-none">
                                    <div class="text-center">
                                        <div class="text-muted small">Total Traffic</div>
                                        <div>12,457 Users (40%)</div>
                                    </div>

                                    <div class="text-center">
                                        <div class="text-muted small">Banned Users</div>
                                        <div>95,333 Users (5%)</div>
                                    </div>

                                    <div class="text-center">
                                        <div class="text-muted small">Page Views</div>
                                        <div>957,565 Pages (50%)</div>
                                    </div>

                                    <div class="text-center">
                                        <div class="text-muted small">Total Downloads</div>
                                        <div>957,565 Files (100 TB)</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <!-- 日监控 -->
                    <div class="col-md-7">
                        <div id="daily-monitor" class="card">
                            <div class="card-body p-0">
                                <div class="p-4">
                                    <div id="daily-chart" class="row clearfix" width="80%" height="20"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 周监控 -->
                    <div class="col-md-5">
                        <div id="weekly-monitor" class="card">
                            <div class="card-body p-0">
                                <div class="p-4">
                                    <div id="weekly-chart" class="row clearfix" width="80%" height="20"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<script src="/vendor/popper.js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/js/carbon.js"></script>
<script src="/js/demo.js"></script>
<script src="/js/highchart.js"></script>
<script src="/js/toastr.min.js"></script>
<!--<script src="/js/monitor/monitor.js"></script>-->

<!-- 自定义js文件 -->
<script src="/js/monitor/monitor.js"></script>

</body>
</html>
